@charset "UTF-8";
/*
모든페이지에 공통으로 적용되는 CSS
*/

/*
	tag(html) selector 
	  - 모든태그에적용
*/
body {
	background-color: orange;
	color: olive;
}

form {
	color: purple;
}

h3 {
	color: maroon;
}
