/*
회원페이지에 적용되는 CSS
*/

/*
	class selector
	   - 이름앞에 . 을 기술한다.
	   -  tag class속성값과 일치하는 tag에적용
*/
.TXTFLD {
	border-width: 1px;
	border-color: blue;
	color: blue;
	border-style: dotted;
	border-radius: 10px;
}

.TXTFLD1 {
	border-width: 1px;
	border-color: red;
	color: red;
	border-style: dotted;
	border-radius: 10px;
}
/*
	id selector
	    - 이름앞에 #을기술 
		- id와일치하는 tag에적용
*/
#jointbl {
	background-color: orange;
	border: 2px dashed red;
}